html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Heaters;
  src: url(Heaters.otf);
}

body {
  font-family: 'Spartan', sans-serif;
  overflow-x: hidden;
}


a {
  text-decoration: none;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.historyPage {
  background-image: url(./img/background2.jpg);
}

.welcome__nav {
  text-align: center;
}

.vertical {
  font-family: Heaters;
}

.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border: 1px solid black;
  /* Safari */
  background-position-x: 50%;
  background-position-y: 0%;
}

.section__blog {
  background-image: url(./img/background.jpg);
}
.blog_intro {
  font-family: Heaters;
  text-align: center;
  color: beige;
  text-shadow: -1px 0 black, 0 8px black, 5px 0 black, 0 -2px black;
  backdrop-filter: hue-rotate(120deg);
  animation: colorWarp 8s ease-in-out infinite alternate;
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
}

@keyframes colorWarp {
  0% {
    backdrop-filter: hue-rotate(60deg);
  }
  30% {

  }
  60% {

  }
  100% {
    backdrop-filter: hue-rotate(120deg);
  }
}
.section__me {
  background-image: url(./img/peter_bg.jpg);
}
.profile_headline {
  display: inline-block;
  border-bottom-style: inset;
  border-color: rgba(251, 230, 230, 0.15);
}

.section__me_title {
  background-image: linear-gradient(to top left, rgba(230, 13, 13, .5), rgb(244, 139, 223));
  text-align: center;
  color: beige;
}
.about__me h3 {
  text-align: center;
  font-size: 3vw;
}
.section__projects {
  background-image: linear-gradient(to bottom right, rgb(53, 53, 53), rgb(78, 76, 133));
}
.project__bucket h3 {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-bottom: 10px;
  color: beige;
}


.contentTitle {
  border-bottom-style: inset;
  border-color: rgba(251, 230, 230, 0.15);
}

.contentCard {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(49, 46, 46, 0.90));
  box-sizing: border-box;
  border-right-style: inset;
  border-left-style: inset;
  border-color: antiquewhite;
  color: rgb(255, 243, 228);
  box-shadow: 0 10px 10px -4px lightblue;
  opacity: 1;
  transition: all 2s;
}

.contentCard img {
  height: 100%;
  width: 100%;
}

.contentCard h3 {
  text-align: right;
  font-size: 1.5vh;
  line-height: .15px;
}

.profile__card {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(49, 46, 46, 0.90));
  box-sizing: border-box;
  border-right-style: inset;
  border-left-style: inset;
  border-color: antiquewhite;
  color: rgb(255, 243, 228);
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}

/* Animated Background */
.okSlide {
  background-image: linear-gradient(-70deg,#2ef6ce, #eb2424 50%, #e63946 50%, #007ffe);
  bottom:0;
  left:-50%;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.okSlide2 {
  background-position: center;
  animation-direction:alternate-reverse;
}

.okSlide3 {
  background-position: bottom;
}

.no__width {
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

/* PHONE SETTINGS */
@media only screen and (max-width: 600px) {
  pre code {
    background-color: rgb(40, 40, 40);
    border: 1px solid #999;
    display: block;
    padding: 1vh 1vw;
    font-size: 3vw;
    overflow-x: scroll;
  }

  .bodyText {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .welcome__sign h2 {
    color: beige;
    font-size: 7vh;
    margin-top: 50%;
    text-align: center;
    padding-bottom: 70vh;
  }

  .welcome__nav {
    margin-top: .5vh;
  }

  .nav__link {
    border-radius: 100px;
    font-size: 1.5vh;
    color: beige;
    padding: .5vw;
    background-image: linear-gradient(to top left, rgb(230, 13, 13), rgb(244, 139, 223));
    box-shadow: 0 5px 5px -4px rgb(35, 35, 35);
  }

  .section__me {
    background-position: right 35% top 45%;
    padding-bottom: 30vh;
    /* Safari.. */
    background-position-x: 25%;
    background-position-y: 50%;
  }

  .section__me_title {
    font-size: 11vw;
  }

  .profile__title {
    padding-top: 15px;
    font-size: 10vw;
    border-bottom-style: inset;
    border-color: rgba(251, 230, 230, 0.15);
    text-align: center;
  }
  .profile_headline img {
    height: 12vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: 2vw;
  }
  .profile__card {
    width: 100%;
    padding: 1vh 3vw 1vh 3vw;
    margin-left: .15vw;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    margin-right: .15vw;
    opacity: 1;
    transition: 1s;
  }

  .blog_intro {
    font-size: 8vw;
  }

  .vertical {
    color: #000000;
    font-size: 4vh;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 0%;
    padding-right: 2vw;
    z-index: 2;
  }

  .topNav {
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: beige;
    box-shadow: 0 8px 8px -4px rgb(35, 35, 35);
  }

  .socialLogo {
    height: 3.75vh;
    width: auto;
    padding: .5vh .5vw;
  }

  .contentCard {
    width: 100%;
    padding: 1vh 3vw 1vh 3vw;
    margin-left: .15vw;
    margin-top: 2.5vh;
    margin-right: .15vw;
    margin-bottom: 1vh;
  }

  .contentCard p {
    font-size: 2.8vw;
  }

  .project__list {
    width: 95%;
  }
  
  .project__list li {
    list-style: upper-roman;
    border: 1px solid black;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(255, 255, 255, 0.526));
    box-shadow: 0 10px 10px -4px rgb(35, 35, 35);
  }
  
  .project__list h2 {
    font-size: 4vw;
    color: beige;
  }

  .project__list p {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 2vw;
    color: beige;
  }
  
  .project__list a {
    font-size: 3vw;
    margin-left: 2vw;
    color: #e63946;
  }

  .btn--inline {
    margin-left: auto;
    background-color: rgb(39, 39, 39);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #b20808, #c84141);
    font-size: 2vw;
    color: beige;
    box-shadow: 0 10px 10px -4px rgb(35, 35, 35);
  }
  
  .gitHub__item {
    transition: 1s;
  }

  .gitHub__item h3 {
    font-size: 3vw;
    color: beige;
  }

  .pagination__project_list {
    margin-left: 25%;
  }

  .okSlide {
    animation:slide 8s ease-in-out infinite alternate;
    opacity: .5;
  }
  
  .okSlide2 {
    animation-duration:9s;
  }
  
  .okSlide3 {
    animation-duration:10s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
}

/* BROWSER SETTINGS / HORIZONTAL PHONE */
@media screen and (min-width: 600px) {
  pre code {
    background-color: rgb(40, 40, 40);
    border: 1px solid #999;
    display: block;
    padding: 1vh 1vw;
    overflow-x: scroll;
  }

  .bodyText {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin-left: 14%;
    margin-right: 8%;
  }

  .welcome__sign h2 {
    position: relative;
    font-size: 15vh;
    margin-top: 20%;
    text-align: center;
    padding-bottom: 35vh;
    color: beige;
  }

  .welcome__nav {
    padding-top: 1.5vh;
  }

  .welcome__nav a {
    padding-left: 1vw;
    border: 2px solid rgb(156, 38, 38);
    border-top-width: 10px;
    color: beige;
    background-color: #151515bf;
    box-shadow: 0 6px 6px -4px rgb(0, 0, 0);
  }

  .topNav {
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 10px;
    right: 10px;
    max-height: 60px;
    max-width: 300px;
    height: 6.5vh;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    z-index: 1;
  }

  .blog_intro {
    font-size: 6vw;
  }

  .socialLogo {
    height: 5vh;
    width: auto;
    padding: .5vh .5vw;
    border: black;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.524);
    transition: .5s;
  }
  
  .socialLogo:hover {
    background-color: white;
    transition: .5s;
  }
  
  .contentCard {
    padding: 1vh 1vw 1vh;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    transition: 1.5s;
  }

  .section__me {
    padding-bottom: 40vh;
  }

  .section__me_title {
    font-size: 8vw;
  }

  .profile__card {
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 1vw 1vh;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    opacity: 1;
    transition: 1.5s;
  }
  .profile__card p {
    line-height: 2vh;
  }
  .profile__title {
    font-size: 3vw;
    border-bottom-style: inset;
    border-color: rgba(251, 230, 230, 0.15);
    text-align: center;
  }
  .profile_headline img {
    height: 5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: 2vw;
  }

  .project__list {
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .project__list li {
    list-style: none;
    border: 1px solid black;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(255, 255, 255, 0.526));
    box-shadow: 0 10px 10px -4px rgb(35, 35, 35);
  }
  
  .project__list h2 {
    margin-left: 1vw;
    font-size: 1.5vw;
    color: beige;
  }

  
  .project__list p {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(49, 46, 46, 0.90)); 
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #9541b1, #6a0f6c);
    padding: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: .9vw;
    color: beige;
  }
  
  .project__list a {
    margin-left: 2vw;
    color: #e63946;
  }
  
  .gitHub__item {
    transition: 1s;
    padding-right: 25vw;
  }

  .gitHub__item h3 {
    color: beige;
  }

  .btn--inline {
    background-color: rgb(39, 39, 39);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #b20808, #c84141);
    font-size: .5vw;
    color: beige;
    box-shadow: 0 12px 12px -4px rgb(35, 35, 35);
  }

  .condense {
    transition: 1s;
    opacity: .8;
  }

  .condense p{
    display: none;
  }

  .condense h3 {
    display: none;
  }

  .pagination__project_list {
    margin-left: 25%;
  }

  .vertical {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    transform-origin: right top 0;
    right: 99%;
    color: #000000;
    padding-top: 2vw;
    padding-right: 2vw;
    font-size: 10vw;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: vertical-text;
    position: fixed;
    display: block;
    height: auto;
    direction: rtl;
    z-index: 11;
    line-height: .5;
  }
  
  .wrap {
    width: 50vw;
  }
  
  .wrapv {
    background: rgba(255, 255, 255, 1);
    border-right-style: inset;
    border-color: black;
    z-index: 5;
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 6.5vw;
  }
  .okSlide {
    animation:slide 8s ease-in-out infinite alternate;
    opacity: .5;
  }
  
  .okSlide2 {
    animation-duration:10s;
  }
  
  .okSlide3 {
    animation-duration:7s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%) skewX(-10deg);
    }
    100% {
      transform:translateX(25%) skewX(60deg);
    }
  }
}